<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/crown.css'
        rel='stylesheet'>
    <title>Trang Chủ | StudyIT.vn</title>
</head>
<body>
    <div class="wrapper">
        <div class="heading">
            <div class="navigation">
                <img src="/images/logo.png" alt="" class="navigation_logo">
                <ul class="navigation_list">
                    <li class="navigation_item"><a href="#"
                            class="navigation_item-link">Blog</a></li>
                    <li class="navigation_item"><a href="#"
                            class="navigation_item-link"></a></li>
                    <li class="navigation_item"><a href="#"
                            class="navigation_item-link">Các khóa học khác</a>
                    </li>
                    <li class="navigation_item"><a href="/login"
                            class="navigation_item-link">Đăng Nhập</a></li>
                    <li class="navigation_item-register"><a href="#"
                            class="navigation_item-link-register">Đăng kí</a>
                    </li>
                </ul>
            </div>
            <img src="/images/earth.png" alt="" class="heading_earth">
            <div class="heading_background"></div>
            <div class="heading_content">
                <h1 class="heading_content-title">StudyIT.<label
                        class="heading_content-title-label">vn</label></h1>
                <div class="heading_slogan-wrapper">
                    <h3 class="heading_slogan">Học lập trình theo cách <label
                            class="heading_slogan-label">của bạn!</label></h3>
                </div>
                <div class="heading_info">
                    <p class="heading_info-text">Khi đến với <b>StudyIT.vn</b>,
                        bạn sẽ được hỗ trợ bởi đội ngũ giảng viên <b>tận tình,
                            nhiệt huyết</b> và có nhiều năm kinh nghiệm trong
                        việc giảng dạy. <b>Điểm đặc biệt</b> của
                        <b>StudyIT.vn</b> chính là các lộ trình học tập <b>có
                            tính thực tế</b> giúp các bạn áp dụng lập trình
                        trong đời sống hơn.
                    </p>
                    <p class="heading_info-text"><b>StudyIT.vn</b> có nhiều khóa
                        học đa dạng về <b>Ngôn ngữ</b> và các bài tập có tính
                        <b>Tư duy</b> cao. Giúp các "dev" tương lai rèn luyện
                        khả năng xử lí vấn đề. Hãy ấn vào nút bên dưới để tìm
                        hiểu thêm nhá 💖
                    </p>
                </div>
                <div class="heading_buttons">
                    <a href="#" class="heading_info-button highlight">Tìm Hiểu
                        Thêm</a>
                    <a href="/counsel/tu-van-hoc-be-hay-fe"
                        class="heading_info-button counsel">Tư vấn học
                        BackEnd/FrontEnd</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="about">
                <div class="about_title-wrapper">
                    <div class="about_title-container text_hover">
                        <h1 class="about_title">Về Chúng Tôi</h1>
                        <p class="about_title-subtitle">🎉Với 4 năm giảng dạy
                        </p>
                    </div>
                </div>
                <div class="about_info-list">
                    <div class="about_info-wrapper"
                        style="--linear-1: #282561;--linear-2: #a846e5;">
                        <div class="about_info-data">
                            <p class="about_info-title">Số học viên</p>
                            <p class="about_info-number">12,000 <label
                                    class="about_info-unit">Học viên</label></p>
                        </div>
                        <div class="about_info-icon-wrapper">
                            <ion-icon class="about_info-icon"
                                name="happy"></ion-icon>
                        </div>
                    </div>
                    <div class="about_info-wrapper"
                        style="--linear-1: #a846e5;--linear-2: #6240d1;">
                        <div class="about_info-data">
                            <p class="about_info-title">Số lượt đánh giá tích
                                cực</p>
                            <p class="about_info-number">500,000 <label
                                    class="about_info-unit">Lượt</label></p>
                        </div>
                        <div class="about_info-icon-wrapper">
                            <ion-icon class="about_info-icon"
                                name="heart-circle"></ion-icon>
                        </div>
                    </div>
                    <div class="about_info-wrapper"
                        style="--linear-1: #6240d1;--linear-2: #3dbede;">
                        <div class="about_info-data">
                            <p class="about_info-title">Tổng các chi nhánh</p>
                            <p class="about_info-number">13 <label
                                    class="about_info-unit">Chi nhánh</label>
                            </p>
                        </div>
                        <div class="about_info-icon-wrapper">
                            <ion-icon class="about_info-icon"
                                name="location"></ion-icon>
                        </div>
                    </div>
                    <div class="about_info-wrapper"
                        style="--linear-1: #3dbede;--linear-2: #1db512;">
                        <div class="about_info-data">
                            <p class="about_info-title">Số khóa học đã giảng dạy
                            </p>
                            <p class="about_info-number">113 <label
                                    class="about_info-unit">Khóa học</label></p>
                        </div>
                        <div class="about_info-icon-wrapper">
                            <ion-icon class="about_info-icon"
                                name="reader"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="course_wrapper">
                <h1 class="course_title text_hover">Các khóa học phổ biến🎉</h1>
                <div class="course_list-wrapper">
                    <div class="course_item-wrapper">
                        <div class="course_item-overlay">
                            <a href="#" class="course_item-button">Mua ngay</a>
                        </div>
                        <div class="course_item-info">
                            <img src="https://evondev.com/wp-content/uploads/2023/06/js.jpg"
                                alt="" class="course_item-image">
                            <h1 class="course_item-title">Khóa học Javascript
                                nâng cao</h1>
                            <p class="course_item-price">499,000đ</p>
                            <div class="course_teacher-wrapper">
                                <img src="https://graph.facebook.com/547825429409669/picture?width=400&height=400"
                                    alt="" class="course_teacher-image">
                                <p class="course_teacher-name">Đặng Văn Anh</p>
                            </div>
                        </div>
                    </div>
                    <div class="course_item-wrapper">
                        <div class="course_item-overlay">
                            <a href="#" class="course_item-button">Mua ngay</a>
                        </div>
                        <div class="course_item-info">
                            <img src="https://evondev.com/wp-content/uploads/2023/06/js.jpg"
                                alt="" class="course_item-image">
                            <h1 class="course_item-title">Khóa học Javascript
                                nâng cao</h1>
                            <p class="course_item-price">499,000đ</p>
                            <div class="course_teacher-wrapper">
                                <img src="https://graph.facebook.com/547825429409669/picture?width=400&height=400"
                                    alt="" class="course_teacher-image">
                                <p class="course_teacher-name">Đặng Văn Anh</p>
                            </div>
                        </div>
                    </div>
                    <div class="course_item-wrapper">
                        <div class="course_item-overlay">
                            <a href="#" class="course_item-button">Mua ngay</a>
                        </div>
                        <div class="course_item-info">
                            <img src="https://evondev.com/wp-content/uploads/2023/06/js.jpg"
                                alt="" class="course_item-image">
                            <h1 class="course_item-title">Khóa học Javascript
                                nâng cao</h1>
                            <p class="course_item-price">499,000đ</p>
                            <div class="course_teacher-wrapper">
                                <img src="https://graph.facebook.com/547825429409669/picture?width=400&height=400"
                                    alt="" class="course_teacher-image">
                                <p class="course_teacher-name">Đặng Văn Anh</p>
                            </div>
                        </div>
                    </div>
                    <div class="course_item-wrapper">
                        <div class="course_item-overlay">
                            <a href="#" class="course_item-button">Mua ngay</a>
                        </div>
                        <div class="course_item-info">
                            <img src="https://evondev.com/wp-content/uploads/2023/06/js.jpg"
                                alt="" class="course_item-image">
                            <h1 class="course_item-title">Khóa học Javascript
                                nâng cao</h1>
                            <p class="course_item-price">499,000đ</p>
                            <div class="course_teacher-wrapper">
                                <img src="https://graph.facebook.com/547825429409669/picture?width=400&height=400"
                                    alt="" class="course_teacher-image">
                                <p class="course_teacher-name">Đặng Văn Anh</p>
                            </div>
                        </div>
                    </div>
                    <div class="course_item-wrapper">
                        <div class="course_item-overlay">
                            <a href="#" class="course_item-button">Mua ngay</a>
                        </div>
                        <div class="course_item-info">
                            <img src="https://evondev.com/wp-content/uploads/2023/06/js.jpg"
                                alt="" class="course_item-image">
                            <h1 class="course_item-title">Khóa học Javascript
                                nâng cao</h1>
                            <p class="course_item-price">499,000đ</p>
                            <div class="course_teacher-wrapper">
                                <img src="https://graph.facebook.com/547825429409669/picture?width=400&height=400"
                                    alt="" class="course_teacher-image">
                                <p class="course_teacher-name">Đặng Văn Anh</p>
                            </div>
                        </div>
                    </div>
                    <div class="course_item-wrapper">
                        <div class="course_item-overlay">
                            <a href="#" class="course_item-button">Mua ngay</a>
                        </div>
                        <div class="course_item-info">
                            <img src="https://evondev.com/wp-content/uploads/2023/06/js.jpg"
                                alt="" class="course_item-image">
                            <h1 class="course_item-title">Khóa học Javascript
                                nâng cao</h1>
                            <p class="course_item-price">499,000đ</p>
                            <div class="course_teacher-wrapper">
                                <img src="https://graph.facebook.com/547825429409669/picture?width=400&height=400"
                                    alt="" class="course_teacher-image">
                                <p class="course_teacher-name">Đặng Văn Anh</p>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="/images/moon.png" alt="" class="course_moon">
                <div class="course_background"></div>
            </div>
            <div class="ranking_wrapper">
                <img src="/images/grid_background.jpg" alt=""
                    class="ranking_wallpaper">
                <div class="ranking_content">
                    <h1 class="ranking_title"><label
                            class="ranking_title-highlight">TOP</label> Giảng
                        Viên /
                        Học Viên</h1>
                    <div class="ranking_list-wrapper">
                        <div class="ranking_teachers-wrapper ranking_item">
                            <div class="ranking_teacher-item" style="--height:85%">
                                <p class="ranking_teacher-number">2</p>
                                <div class="ranking_teacher-image-wrapper">
                                    <img src="https://graph.facebook.com/547825429409669/picture?width=400&height=400"
                                        alt="" class="ranking_teacher-image">
                                    <!-- <img src="/images/crown.png" alt="" class="ranking_teacher-crown"> -->
                                </div>
                                <div class="ranking_teacher-info">
                                    <p class="ranking_teacher-position">Tiến sĩ</p>
                                    <h1 class="ranking_teacher-name">Đỗ Nguyện Vọng</h1>
                                </div>
                            </div>
                            <div class="ranking_teacher-item" style="--height:100%">
                                <p class="ranking_teacher-number one">1</p>
                                <div class="ranking_teacher-image-wrapper">
                                    <img src="https://graph.facebook.com/547825429409669/picture?width=400&height=400"
                                        alt="" class="ranking_teacher-image">
                                    <img src="/images/crown.png" alt="" class="ranking_teacher-crown">
                                </div>
                                <div class="ranking_teacher-info">
                                    <p class="ranking_teacher-position">Tiến sĩ</p>
                                    <h1 class="ranking_teacher-name">Đỗ Nguyện Vọng</h1>
                                </div>
                            </div>
                            <div class="ranking_teacher-item" style="--height:70%">
                                <p class="ranking_teacher-number three">3</p>
                                <div class="ranking_teacher-image-wrapper">
                                    <img src="https://graph.facebook.com/547825429409669/picture?width=400&height=400"
                                        alt="" class="ranking_teacher-image">
                                    <!-- <img src="/images/crown.png" alt="" class="ranking_teacher-crown"> -->
                                </div>
                                <div class="ranking_teacher-info">
                                    <p class="ranking_teacher-position">Tiến sĩ</p>
                                    <h1 class="ranking_teacher-name">Đỗ Nguyện Vọng</h1>
                                </div>
                            </div>
                        </div>
                        <div class="ranking_line"></div>
                        <div class="ranking_students-wrapper ranking_item">
                            <table class="ranking_student-table">
                                <tr>
                                   <th class="ranking_student-no">No.</th>
                                   <th class="ranking_student-name">Tên học viên</th>
                                   <th class="ranking_student-exercise">Số bài tập</th>
                                   <th class="ranking_student-point">Số điểm</th>
                                </tr>
                                <tr>
                                    <td class="ranking_student-no">1</td>
                                    <td class="ranking_student-name"><img src="https://graph.facebook.com/547825429409669/picture?width=400&height=400" alt="" class="ranking_student-image">Nguyễn Văn Luyện</td>
                                    <td class="ranking_student-exercise">100</td>
                                    <td class="ranking_student-point">235</td>
                                 </tr>
                                 <tr>
                                    <td class="ranking_student-no">2</td>
                                    <td class="ranking_student-name"><img src="https://graph.facebook.com/547825429409669/picture?width=400&height=400" alt="" class="ranking_student-image">Nguyễn Văn Luyện</td>
                                    <td class="ranking_student-exercise">100</td>
                                    <td class="ranking_student-point">235</td>
                                 </tr>
                                 <tr>
                                    <td class="ranking_student-no">3</td>
                                    <td class="ranking_student-name"><img src="https://graph.facebook.com/547825429409669/picture?width=400&height=400" alt="" class="ranking_student-image">Nguyễn Văn Luyện</td>
                                    <td class="ranking_student-exercise">100</td>
                                    <td class="ranking_student-point">235</td>
                                 </tr>
                                 <tr>
                                    <td class="ranking_student-no">4</td>
                                    <td class="ranking_student-name"><img src="https://graph.facebook.com/547825429409669/picture?width=400&height=400" alt="" class="ranking_student-image">Nguyễn Văn Luyện</td>
                                    <td class="ranking_student-exercise">100</td>
                                    <td class="ranking_student-point">235</td>
                                 </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/index.js"></script>
    <script type="module"
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js">
    </script>
    <script nomodule
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js">
    </script>
</body>
</html>